@mixin texte($font-family, $size, $weight, $color) {
  font-family: $font-family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin flexbox($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop-min)) {
    @content;
  }
}

@mixin mobile-xs {
  @media screen and (max-width: map-get($breakpoints, mobile-xs)) {
    @content;
  }
}
