$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$shadowColor: #cacaca;
$text-color-dark: rgb(63, 63, 63);
$text-color-light: white;
$title-color: #1c1c1c;
$footer-background: #333333;
$breakpoints: (
  mobile-xs: 375px,
  mobile-max: 767.98px,
  tablet-min: 768px,
  tablet-max: 991.98px,
  desktop-min: 992px,
);
