.mainMenus {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 120px 120px 0 0;
    margin-top: -50px;
    padding: 0 50px 120px 50px;

    .bouton {
        align-self: center;
        margin-top: 20px;
        @include btn--gradient;
    }

}

.menus {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__titleBar{
        width: 95%;
        height: 200px;
        padding: 30px 0 65px 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__title {
            font-family: Shrikhand;
            font-size: 35px;
            font-weight: 900;
        }

        &__icon {
            font-size: 70px;
            line-height: 200px;

            .fa-heart {
                &:hover {
                    @include heart;
                }
            }
            
        }
    }

}

.menu {

    margin-bottom: 50px;

    h2{
        @include texte(45px, 300, $titreColor);
        padding-bottom: 10px;
        margin: 0px;
        
    }

    &__line {
        margin: 10px 0 46px 0;
        width: 13%;
        border-bottom: 8px solid $tertiaire;

    }

    &__card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 36px 40px 40px 30px;
        margin-bottom: 30px;
        @include texte(40px, 300, $textColor);
        box-shadow: 1px 8px 20px 10px #eaeaea; 
        background-color: white;
        border-radius: 50px;
        h3 {
            margin: 0px 0px 10px 0;
        }
        &__price {
            align-self: flex-end;
            font-weight: 600;
        }
        &__anim {
            display: none;
            align-self: center;
            text-align: center;
            background-color: $tertiaire;
            width: 20%; 
           
        }

        &:hover {

            .menu__card__anim {
             
                

                .fa-circle-check {
                    
                    font-size: 50px;
                    color: black;
                }
            }

        }
    }

}
