.main-menu {
  box-sizing: border-box;
  position: relative;
  @include flexbox(column);
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  padding: 0 21px 90px 15px;

  button {
    align-self: center;
    @extend .bouton;
  }
  @include tablet {
    .all-menus {
      width: 65%;
      margin: auto;
    }
  }

  @include mobile-xs {
    margin-top: -4em;
  }
}

.menus {
  @include flexbox(column);
  width: 100%;

  &__titleBar {
    width: 95%;
    padding: 30px 0 24px 0px;
    @include flexbox(row);
    justify-content: space-between;
    align-items: center;

    &__title {
      @include texte(Shrikhand, 0.8em, 900, $title-color);
    }

    &__icon {
      .far {
        position: absolute;
        font-size: 30px;
        right: 30px;
        top: 50px;
        opacity: 1;
        transition: opacity 0.5s ease-in;

        &:hover {
          opacity: 0;
        }
      }

      .fas {
        position: absolute;
        font-size: 30px;
        right: 30px;
        top: 50px;
        background: -webkit-linear-gradient(top, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: opacity 0.5s ease-out;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  @include desktop {
    &__titleBar {
      justify-content: center;
      &__title {
        font-size: 20px;
      }
      &__icon {
        align-items: center;
        .far {
          font-size: 40px;
          top: 65px;
        }
        .fas {
          font-size: 40px;
          top: 65px;
        }
      }
    }
  }

  @include tablet {
    &__titleBar {
      justify-content: center;
      &__title {
        font-size: 17px;
      }
      &__icon {
        align-items: center;
        .far {
          font-size: 30px;
          top: 60px;
        }
        .fas {
          font-size: 30px;
          top: 60px;
        }
      }
    }
  }
}

.menu {
  margin-bottom: 50px;

  h2 {
    @include texte(Roboto, 17px, 300, $title-color);
    padding-bottom: 10px;
    margin: 0px;
  }

  &__line {
    margin: -3px 0 26px 0;
    width: 13%;
    border-bottom: 3px solid #99e2d0;
  }

  &__card {
    @include flexbox(row);
    justify-content: space-between;
    height: 73px;
    margin-bottom: 15px;
    @include texte(Roboto, 15px, 300, $text-color-dark);
    box-shadow: 1px 8px 20px 10px #eaeaea;
    background-color: white;
    border-radius: 20px;
    animation: menus-coming 1s ease-in-out;
    overflow: hidden;

    &--delay2 {
      animation-delay: 0.2s;
    }

    &--delay3 {
      animation-delay: 0.4s;
    }

    &--delay4 {
      animation-delay: 0.4s;
    }

    h3 {
      margin: 0px 0px 6px 0;
    }
    &__descr {
      width: 85%;
      padding: 13px 3px 5px 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: width 0.5s ease-in-out;
    }
    &__price {
      padding: 0 17px 17px 0;
      align-self: flex-end;
      text-align: end;
      font-weight: 600;
    }
    &__anim {
      position: relative;
      right: -150px;
      align-self: center;
      text-align: center;
      background-color: $tertiary;
      width: 0%;
      height: 100%;
      overflow: hidden;
      transition: all 0.3s linear;
      animation: menus-check-out 0.3s forwards;

      .fa-circle-check {
        font-size: 30px;
        color: white;
        line-height: 80px;
        margin-right: 25px;
      }
    }

    &:hover {
      cursor: pointer;

      .menu__card__anim {
        display: inline-block;
        width: 25%;
        height: 100%;
        right: -25px;
        animation: menus-check 0.3s ease-in-out;

        .fa-circle-check {
          animation: menus-rotate 1s forwards;
        }
      }

      .menu__card__price {
        width: 15%;
        padding: 0 0 17px 0;
      }

      .menu__card__descr {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  @include desktop {
    width: 31%;
    h2 {
      font-size: 25px;
    }
    &__card {
      font-size: 1.2vw;
      height: 83px;

      &__price {
        padding: 0 10px 30px 0;
      }
      &:hover {
        .menu__card__price {
          padding: 0 0 30px 0;
        }

        .menu__card__anim {
          width: 20%;
          right: 0px;
          margin-left: 10px;

          .fa-circle-check {
            font-size: 30px;
            line-height: 83px;
            margin: 0 10px 0 10px;
          }
        }
      }
    }
  }
}

.all-menus {
  @include desktop {
    @include flexbox(row);
    justify-content: space-between;
    box-sizing: border-box;
  }
}
