.footer {
  @include flexbox(column);
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  background-color: $footer-background;

  &__title {
    @include texte(Shrikhand, 20px, 900, $text-color-light);
  }

  &__icon {
    display: inline-block;
    width: 30px;

    i {
      font-size: 15px;
      padding: 0px;
    }

    .fa-handshake {
      transform: rotate(-25deg);
    }
  }

  ul {
    padding: 0px;
    list-style-type: none;

    @include texte(Roboto, 17px, 400, white);
  }

  li {
    padding: 0 0 10px 0;
    text-decoration: none;

    a {
      text-decoration: none;
    }
  }

  @include desktop {
    @include flexbox(row);
    justify-content: space-between;

    &__title {
      font-size: 3vw;
    }

    &__icon {
      width: 30px;
      i {
        font-size: 20px;
        padding: 0 5px 0 0;
      }
    }

    ul {
      @include flexbox(row);
      justify-content: space-around;
      font-size: 20px;

      li {
        margin-right: 18px;
      }
    }
  }
}
