.footer {
  @include flexbox(column);
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  background-color: $footer-background;

  &__title {
    @include texte(Shrikhand, 45px, 900, $text-color-light);
  }

  &__icon {
    display: inline-block;
    width: 60px;

    i {
      font-size: 30px;
      padding: 0 20px 0 0;
    }

    .fa-handshake {
      transform: rotate(-25deg);
    }
  }

  ul {
    padding: 0px;
    list-style-type: none;

    @include texte(Roboto, 40px, 400, white);
  }

  li {
    padding: 0 0 15px 0;
    text-decoration: none;

    a {
      text-decoration: none;
    }
  }
}
